*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 87px;
}
.container ul{
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
}
.container ul a{
    text-decoration: none;
}
.container h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}
.container ul li a{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
.container ul li i {
    color: #000000;
    cursor: pointer;
}
.main-camera-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    align-items: center;
}
.info-camera {
    max-width: 580px;
    margin-top: 100px;
}
.info-camera h1{
    font-size: 3.25rem;
    font-weight: bold;
    color:#3A3A3A;
}
.info-camera .dark-3{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-top: 16px;
}
.info-camera .btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 16px;
    vertical-align: middle;
    cursor: pointer;
}
.camera img{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}
.logos-container{
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 36px 61px ;
    margin-top: 69px;
    align-items: center;
    justify-content: space-evenly;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}









@media screen and (max-width: 576px) {
    .container {
    flex-direction: column;
    margin-top: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.main-camera-container {
   flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
}
.info-camera {
    margin-top: 50px;
}
.logos-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    padding: 10px;
    border: none;
}
.logos-container img{
    margin-bottom: 10px;
    text-align: center;
}
}