*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 87px;
}
.container ul{
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
}
.container ul a{
    text-decoration: none;
}
.container h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}
.container ul li a{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
.container ul li i {
    color: #000000;
}









@media screen and (max-width: 576px) {
    .container {
    flex-direction: column;
    margin-top: 50px;
    padding: 10px;
}
.container ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}

}